body{
  margin:0;
  background:#000;
  font-family:Arial;
}

#player-container{
  position:relative;
  height:100vh;
  background:#000;
}

video{
  width:100%;
  height:100%;
}

.logo{
  position:absolute;
  top:10px;
  left:10px;
  z-index:10;
}

.logo img{
  height:40px;
  width:auto;
}

.overlay-btn{
  position:absolute;
  top:10px;
  right:10px;
  z-index:10;
  background:rgba(0,0,0,.6);
  color:#fff;
  border:none;
  padding:6px 10px;
  border-radius:8px;
}
#shot-btn{ right:60px; }
